<mat-toolbar>
  <span routerLink="/">Mi Diccionario</span>
  <div class="flags">
    <img class="es" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Bandera_de_Espa%C3%B1a.svg" alt="" routerLink="/espanol">
    <img class="en" src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1200px-Flag_of_the_United_Kingdom.svg.png" alt="" routerLink="/ingles">
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
<script src="sweetalert2.all.min.js"></script>