<div class="container">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title class="cap">{{id}} </mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://i.pinimg.com/originals/0c/3b/3a/0c3b3adb1a7530892e55ef36d3be6cb8.png">
        <mat-card-content>
        <p class="cap">
            Bienvenido {{id}}
        </p>
    </mat-card-content>
        <mat-card-actions>
            <button (click)="logout()" mat-button>Logout</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>Español</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/Bandera_de_Espa%C3%B1a.svg/1280px-Bandera_de_Espa%C3%B1a.svg.png">
        <mat-card-content>
            <p>
                Tu diccionario en español
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/espanol" mat-button>Entrar</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>English</mat-card-title>
        </mat-card-header>
        <img mat-card-image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Flag_of_the_United_Kingdom_%283-5%29.svg/1920px-Flag_of_the_United_Kingdom_%283-5%29.svg.png">
        <mat-card-content>
            <p>
                Ur diccionary in English
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button routerLink="/ingles" mat-button>Enter</button>
        </mat-card-actions>
    </mat-card>
</div>